<link rel="stylesheet" href="css/createEdit.css"/>
<section id="createContent">
    <h3>New Story</h3>
    <form id="todo-form" data-ng-submit="addTodo()" class="row form-horizontal" novalidate>
        <div class="control-group">
            <label class="control-label" for="inputName">Title: </label>
            <div class="controls">
                <input type="text" data-ng-model="newTodo" id="inputName" autofocus>
                <div class="input-help">
                    <h4>Invalid Name</h4>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputDesc">Description: </label>
            <div class="controls">
                <textarea data-ng-model="newDesc" id="inputDesc">Add your </textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputDate">Select date: </label>
            <div class="controls">
                <input type="text" data-ng-model="newDate" id="inputDate" datepicker>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputTime">Select time: </label>
            <div class="controls">
                <input type="time" data-ng-model="newDate" id="inputTime" >
                <div class="input-help">
                    <h4>Invalid Name</h4>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputUsers">Users: </label>
            <div class="controls">
                <select class="multiselect1" multiple="multiple" ng-multi ng-model="newUsers" id="inputUsers">
                    <option value="0">User1</option>
                    <option value="1">User2</option>
                    <option value="2">User3</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">

                <button class="btn" disabled>Add</button>
                <button type="submit" class="btn">Add</button>
            </div>
        </div>


    </form>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $('.multiselect1').multiselect({
            buttonClass: 'btn',
            buttonWidth: 'auto',
            buttonContainer: '<div class="btn-group" />',
            maxHeight: false,
            buttonText: function(options) {
                if (options.length == 0) {
                    return 'None selected <b class="caret"></b>';
                }
                else if (options.length > 3) {
                    return options.length + ' selected  <b class="caret"></b>';
                }
                else {
                    var selected = '';
                    options.each(function() {
                        selected += $(this).text() + ', ';
                    });
                    return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
                }
            }
        });
    });
</script>