<form  ng-repeat="todo in todos" ng-show="todo.editing" ng-submit="doneEditing(todo)">
    <div class="control-group">
        <label class="control-label" for="inputName">Name: </label>
        <div class="controls">
            <input data-ng-model="newTodo" id="inputName" autofocus>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputDesc">Description: </label>
        <div class="controls">
            <textarea data-ng-model="newDesc" id="inputDesc">Add your </textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputDate">Date: </label>
        <div class="controls">
            <input type="text" data-ng-model="newDate" id="inputDate">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputUsers">Users: </label>
        <div class="controls">
            <select class="multiselect" multiple="multiple" ng-model="todo.users" id="inputUsers">
                <option value="user1">User1</option>
                <option value="user2">User2</option>
                <option value="user3">User3</option>
            </select>
        </div>
    </div>

    <button ng-click="doneEditing(todo)">apply</button>
    <button ng-click="cancelEdit(todo)">cancel</button>
</form>
