<multiselect></multiselect>
<section class="contentBlock" ng-show="!editing">
    <button style="float: right;" class="btn-link" ng-click="close()"><i class="icon-remove"></i></button>
    <h4>{{ history.title }}</h4>
    <p>{{ history.desc }}</p>
    <p>Estimate: {{ history.time }}h</p>
    <ul class="unstyled">
        Assigned:
        <li  ng-repeat="user in history.user">{{ users[user].name }}</li>
    </ul>
    <button class="btn" ng-click="editTodo(history)">Edit</button>
    <button class="btn" data-ng-click="removeTodo(history)">Delete</button>
</section>
<section ng-show="editing">
    <h3>Edit cart</h3>
    <form class="contentBlock"  class="row form-horizontal" novalidate>
        <div class="control-group">
            <label class="control-label" for="inputName">Name: </label>
            <div class="controls">
                <input data-ng-model="newTitle" id="inputName" autofocus>
                <div class="input-help">
                    <h4>Invalid Name</h4>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputDesc">Description: </label>
            <div class="controls">
                <textarea data-ng-model="newDesc" id="inputDesc">Add your </textarea>
                <div class="input-help">
                    <h4>Invalid Desc</h4>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputTime">Time: </label>
            <div class="controls">
                <input type="number" min="0" max="50" data-ng-model="newTime" id="inputTime">
                <div class="timeSlider" ui-slider min="0" max="50" ng-model="newTime"></div>
                <div class="input-help">
                    <h4>Invalid Time</h4>
                </div>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputUsers">Users: </label>
            <div class="controls" >
                <select class="multiselect" multiple="multiple" ng-model="newUsers" id="inputUsers">
                    <option data-ng-repeat="user in users" value="{{user.number}}">{{user.name}}</option>
                </select>
            </div>
        </div>     .

        <div class="control-group">
            <label class="control-label" for="inputStatus">Status: </label>
            <div class="controls">
                <select ng-model="newStatus" id="inputStatus">
                    <option data-ng-repeat="status in statuses" value="{{status.number}}">{{status}}</option>
                    <option value="1">In progress</option>
                    <option value="2">Completed</option>
                    <option value="3">Blocked</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button ng-click="doneEditing(history)">apply</button>
                <button ng-click="cancelEdit(history)">cancel</button>
            </div>
        </div>

    </form>
</section>

