<section ng-show="todos.length">
    <ul>
        <li ng-repeat="todo in todos">
            <div class="view" ng-show="!todo.editing">
                <label>{{todo.title}}</label>
                <p>{{todo.desc}}</p>
                <span>{{todo.date}}</span>
                <span>{{todo.user}}</span>
                <button class="btn" ng-click="editTodo(todo)" ng-disabled="editing">Edit</button>
                <button class="btn" ng-click="removeTodo(todo)">del</button>
            </div>
        </li>
    </ul>
</section>


